NEXT_PUBLIC_DERIV_APP_ID=
NEXT_PUBLIC_DERIV_APP_NAME=
NEXT_PUBLIC_DERIV_ENV=
NEXT_PUBLIC_DERIV_OAUTH_SCOPES=
NEXT_PUBLIC_DERIV_REDIRECT_URI=
NEXT_PUBLIC_DERIV_REFERRAL_LINK=
NEXT_PUBLIC_DERIV_SHOW_APP_NAME=
NEXT_PUBLIC_FONT_FAMILY=
NEXT_PUBLIC_BASE_PATH=